<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.yjmd2222.AsusSMCFanDataProvider</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AsusSMCFanDataProvider</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AsusSMCFanDataProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.yjmd2222.AsusSMCFanDataProvider</string>
			<key>IOClass</key>
			<string>AsusSMC</string>
			<key>IONameMatch</key>
			<array>
				<string>PNP0c14</string>
				<string>PNP0C14</string>
				<string>PnP0C14</string>
				<string>pnp0c14</string>
				<string>ASUS010</string>
				<string>ASUS0100</string>
				<string>ASUS0010</string>
				<string>ATK0100</string>
			</array>
			<key>IOProbeScore</key>
			<integer>9999</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>FanSpeeds</key>
			<array>
				<integer>0</integer>
				<integer>10</integer>
				<integer>20</integer>
				<integer>30</integer>
				<integer>40</integer>
				<integer>50</integer>
				<integer>60</integer>
				<integer>70</integer>
				<integer>80</integer>
				<integer>90</integer>
				<integer>100</integer>
				<integer>110</integer>
				<integer>120</integer>
				<integer>130</integer>
				<integer>140</integer>
				<integer>160</integer>
				<integer>185</integer>
				<integer>205</integer>
				<integer>225</integer>
				<integer>245</integer>
				<integer>250</integer>
				<integer>255</integer>
			</array>
			<key>Temperatures</key>
			<array>
				<integer>40</integer>
				<integer>44</integer>
				<integer>48</integer>
				<integer>52</integer>
				<integer>56</integer>
				<integer>60</integer>
				<integer>62</integer>
				<integer>64</integer>
				<integer>66</integer>
				<integer>68</integer>
				<integer>70</integer>
				<integer>72</integer>
				<integer>74</integer>
				<integer>76</integer>
				<integer>78</integer>
				<integer>80</integer>
				<integer>82</integer>
				<integer>84</integer>
				<integer>86</integer>
				<integer>88</integer>
				<integer>90</integer>
				<integer>255</integer>
			</array>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024 yjmd2222. All rights reserved.</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
